@-webkit-keyframes turntable {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes turntable {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}

@keyframes turntable {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body {
	background: #333;
	color: #ccc;
}

a {
	color: #eee;
	text-decoration: none;
	background: #444;
	padding: 4px 12px;
}

a:hover {
	color: #fff;
	background: #222;
	text-decoration: underline;
}

.episode-links {
	overflow: auto;
}

.episode-link {
	float: left;
	text-align: center;
	font-size: 18px;
	padding: 32px;
	background: #333;
}

.episode-link:hover {
	background: #222;
}

.episode-link-text {
	padding-top: 16px;
}

audio {
	margin: 12px 0;
}

.record-spinner {
	background: url(../img/s02/record.jpg);
	background-size: cover;
	width: 256px;
	height: 256px;
	position: relative;
	border-radius: 50%;
}

.record-spinner .title {
	width: 32%;
	height: 32%;
	margin-top: -16%;
	margin-left: -16%;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;

	padding: 16px 8px;
	font-size: 8px;
	color: #333;

	background: url(../img/s02/rcav.jpg);
	background-size: cover;
	overflow: hidden;
	border-radius: 50%;


	-webkit-animation-name: turntable;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: turntable;
	-moz-animation-duration: 6s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	animation-name: turntable;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

.record-spinner.selected .title {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}


