---
layout: default
---

<h1>Stereo Semantics!</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>


<h2>Previous seasons</h2>

{% for category in site.categories %}
  <a href="{{ category.first }}">{{ category.first | replace: 'n0','n ' | capitalize }}</a>
{% endfor %}

<h2>RSS!</h2>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

