---
layout: default
---
	<link rel="stylesheet" href="{{ "/css/season06.css" | prepend: site.baseurl }}">
</head>
<body>
	{% include header-pc.html %}
<!-- CONTENT -->
	<blink><h3>{{ site.title }} - {{ page.title }}</h3></blink>
<img src="{{ site.baseurl }}/img/s05/new2.gif">
<br>

<ol>
{% for post in site.categories.season07 reversed %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a>
		- {{ post.date | date: site.date_format }}
	</li>
{% endfor %}
</ol>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/season07.js"></script>
</body>

</html>