	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Stereo Semantics</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seasons <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/season01">Season 1</a></li>
                  <li><a href="/season02">Season 2</a></li>
                  <li><a href="/season03">Season 3</a></li>
                  <li><a href="/season04">Season 4</a></li>
                  <li><a href="/season05">Season 5</a></li>
                  <li><a href="/season06">Season 6</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">RSS Feed</li>
                  <li><a href="/feed.xml">Subscribe</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>