---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/season01.css">

<div class="container-fluid">
  <div class="row-fluid">

		{% if page.episode %}
			<header class="post-header">
				<marquee><h2>{{ page.title }}</h2></marquee>
				<p class="date">{{ page.date | date: site.date_format }}</p>
			</header>
		{% endif %}

		{{ content }}

		{% if page.episode %}

			<p>
				<a href="{{ page.rel_finder_url }}">Rel:Finder Map</a>
				<a href="{{ page.track_list_url }}">Tracklist</a>
			</p>

			<p>
				<img src="/img/s04/ep{{ page.episode }}.png">
			</p>

			{% if page.mp3_url %}
				<audio class="audio-player" src="{{ page.mp3_url }}" controls>
					Your browser does not support the <code>audio</code> element.
				</audio>
				{% else %}
					Sorry audio for this episode isn't available :(
			{% endif %}
		{% endif %}
		<div class="alert alert-block">
			<a class="close">×</a>
			<img class="pull-left" style="margin-top: -8px" src="{{ site.base_url }}/img/s01/drudgesiren.gif" width="60">
			<h4 class="alert-heading">Alert</h4>
			<p>Warning, this is the current season! Expect awesome adds and epic changes!</p>
		</div>
		<img class "pull-left" style="margin-top: -8px" src="{{ site.base_url }}/img/s01/construct.gif">
		<br>
		<br>

		<p>
			{% if page.episode %}
				<a class="btn btn-primary" href="{{ site.baseurl }}/season04">Season four</a>
			{% endif %}
			<a class="btn btn-warning" href="{{ site.base_url }}/">Home</a>
		</p>

	</div>
</div>