---
layout: default
---
<link rel="stylesheet" href="{{ "/css/season02.css" | prepend: site.baseurl }}">
<link rel="shortcut-icon" href="{{ site.baseurl }}/favicon.ico">
<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/jquery-2.1.0.min.js"></script>

<header class="post-header">
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

<a href="{{ site.baseurl }}/season02">Season 2</a>
</header>

{{ content }}


<script type="text/javascript">
	$('.record-spinner').on({
		mouseenter: function() {
			$(this).addClass('selected')
		},
		mouseleave: function() {
			$(this).removeClass('selected')
		}
	})

	$('.record-spinner .title').each(function() {
		var offset = -(Math.random()*12)+'s'
		$(this).css({
			'-webkit-animation-delay': offset,
			'-moz-animation-delay': offset
		})
	})
</script>